<div class="wrapper">
  <div *ngIf="user" class="trips__container">
    <div *ngFor="let trip of trips">
      <app-trip-card 
      [trip]="trip"
      (deletingTripId)="onDeleteTrip($event)">
      </app-trip-card>
    </div>
    <div *ngIf="loading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div  
      *ngIf="!addTripMode" 
      (click)="onAddTrip()"
      >
      <mat-icon class="add__trip_btn" style="cursor: pointer;">add_circle</mat-icon>
    </div>
    <!-- Add trip form -->
    <app-add-edit-form *ngIf="addTripMode" (results)="onSubmit($event)"></app-add-edit-form>
  </div>
</div>

