<div class="image__container"(mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div class="close" *ngIf="hovering" (click)="onDeleteImage(image.image)" style="cursor: pointer;">
    <a>X</a>
  </div>
  <div class="image_wrapper">
    <a href="{{image.image}}">
      <img src="{{image.image}}" alt="" class="image">
    </a>
  </div>
  <div class="caption_wrapper" *ngIf="hovering || editCaptionMode">
    <div class="caption" (click)="onClickCaption()" *ngIf="!editCaptionMode">{{image.caption}}</div>
    <div class="caption_form">
      <form
        #editCaptionForm="ngForm" 
        (ngSubmit)="onSubmitCaption(editCaptionForm)"
        *ngIf="editCaptionMode"
        class="__form">
        <div class="caption__input">
          <input 
            type="text"
            id="caption"
            class="form-control"
            [ngModel]="image.caption"
            name="caption"
          >
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <div class="caption__container">
  
  <p class="caption" (click)="onClickCaption()" *ngIf="!editCaptionMode">{{image.caption}}</p>
</div> -->
